{% extends 'basetemplate.html' %}
{% block title %}Contribute! - {% endblock %}
{% block body %}
    <center>
        <h1>Enter Story Title and Content Below</h1>
        <br>
        =============================================
        <form action="/create">
            <p>Story title: <input type="text" name="story_title" required></p>
            <br>
            Story Content
            <br>
            <textarea name="story_content" rows="8" cols="80" required></textarea>
            <br><br>
            <input type="submit" value="Submit!">
        </form>
    </center>
{% endblock %}
