{% extends 'basetemplate.html' %}
{% block title %}Account Creation - {% endblock %}
{% block body %}
<center>
    <h2>
        <pre>
  ██╗  ██╗███████╗██╗     ██╗      ██████╗     ████████╗██╗  ██╗███████╗██████╗ ███████╗
  ██║  ██║██╔════╝██║     ██║     ██╔═══██╗    ╚══██╔══╝██║  ██║██╔════╝██╔══██╗██╔════╝
███████║█████╗  ██║     ██║     ██║   ██║       ██║   ███████║█████╗  ██████╔╝█████╗
██╔══██║██╔══╝  ██║     ██║     ██║   ██║       ██║   ██╔══██║██╔══╝  ██╔══██╗██╔══╝
  ██║  ██║███████╗███████╗███████╗╚██████╔╝       ██║   ██║  ██║███████╗██║  ██║███████╗
  ╚═╝  ╚═╝╚══════╝╚══════╝╚══════╝ ╚═════╝        ╚═╝   ╚═╝  ╚═╝╚══════╝╚═╝  ╚═╝╚══════╝
        </pre>
    </h2>
    <h1>Create an account below</h1>
    <br>
    <form action="/auth" method="POST">
        <p>Desired username: <input type="text" name="user" required></p>
        <br>
        <p>Desired password: <input type="password" name="pass1" required></p>
        <p>Confirm password: <input type="password" name="pass2" required></p>
        <input type="submit" value="Create Account">
    </form>
    {% set msgs = get_flashed_messages() %}
    {% for each in msgs%}
        {{each}}
    {% endfor %}
    {% endblock %}
</center>
