{% extends 'basetemplate.html' %}
{% block title %}Contribute! - {% endblock %}
{% block body %}
<center>
    <h1>Discover Other Stories</h1>
    ____________________________________________________________________________
    {% for key in keys %}
    <h3><a href = '/edit?story={{ key }}'> {{ key }}</a></h3>
    <i>
        {{ dct[key] }}
    </i>
    <br>
    ____________________________________________________________________________
    {% endfor %}
    <br>
    <a href="/profile">Go back to profile</a>
</center>
{% endblock %}
