{% extends 'basetemplate.html' %}
{% block title %}Contribute! - {% endblock %}
{% block body %}
<center>
    <h1>Discover Other Stories</h1>
    ____________________________________________________________________________
    {% for title in stories %}
    <h3><a href = '/edit?story={{ title }}'> {{ title }}</a></h3>
    <i>
        {{ title["content"] }}
    </i>
    <br>
    ____________________________________________________________________________
    {% endfor %}
</center>
{% endblock %}
