{% extends 'basetemplate.html' %}
{% block title %}Contribute! - {% endblock %}
{% block body %}
<center>
    <h2>
        <pre>
██████╗ ██╗███████╗ ██████╗ ██████╗ ██╗   ██╗███████╗██████╗
 ██╔══██╗██║██╔════╝██╔════╝██╔═══██╗██║   ██║██╔════╝██╔══██╗
 ██║  ██║██║███████╗██║     ██║   ██║██║   ██║█████╗  ██████╔╝
 ██║  ██║██║╚════██║██║     ██║   ██║╚██╗ ██╔╝██╔══╝  ██╔══██╗
 ██████╔╝██║███████║╚██████╗╚██████╔╝ ╚████╔╝ ███████╗██║  ██║
 ╚═════╝ ╚═╝╚══════╝ ╚═════╝ ╚═════╝   ╚═══╝  ╚══════╝╚═╝  ╚═╝

███████╗████████╗ ██████╗ ██████╗ ██╗███████╗███████╗
██╔════╝╚══██╔══╝██╔═══██╗██╔══██╗██║██╔════╝██╔════╝
███████╗   ██║   ██║   ██║██████╔╝██║█████╗  ███████╗
╚════██║   ██║   ██║   ██║██╔══██╗██║██╔══╝  ╚════██║
███████║   ██║   ╚██████╔╝██║  ██║██║███████╗███████║
╚══════╝   ╚═╝    ╚═════╝ ╚═╝  ╚═╝╚═╝╚══════╝╚══════╝
        </pre>
    </h2>
    ____________________________________________________________________________
    {% for key in keys %}
    <h3><a href = '/edit?story={{ key }}'> {{ key }}</a> - {{ ga(key) }}</h3>
    <i>
      {{ dct[key] }}
    </i>
    <b> - {{ gsa(key, dct[key]) }}</b>
    <br>
    ____________________________________________________________________________
    {% endfor %}
    <br><br>
    <a href="/profile">Go back to profile</a>
    <br><br>
</center>
{% endblock %}
