{% extends 'basetemplate.html' %}
{% block title %}Home Page - {% endblock %}
{% block body %}
<center><h1>Welcome to Storyteller!</h1></center>
<br>
<center><p>Please log in below, or create an account <a href="/create">here</a></p></center>
<br><br>
<form action="/auth" method="POST">
    <center>
        <p>Username: <input type="text" name="user" required></p>
        <p>Password: <input type="password" name="pass" required></p>
        <input type="submit" value="Log In">
    </center>
</form>
<center>
  {% set msgs = get_flashed_messages() %}
  {% for each in msgs%}
      {{each}}
  {% endfor %}
</center>
{% endblock %}
{% block logout %}{% endblock %}
