<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home Page</title>
</head>
<body>
    <center><h1>Welcome to Storyteller!</h1></center>
    <br>
    <center><p>Please log in below, or create an account <a href="create.html">here</a></p></center>
    <br><br>
    <form action="/auth" method="POST">
        <center>
            <p>Username: <input type="text" name="user" required></p>
            <p>Password: <input type="password" name="pass" required></p>
            <input type="submit" value="Log In">
        </center>
    </form>
</body>
</html>
