{% extends 'basetemplate.html' %}
{% block title %}Welcome! - {% endblock %}
{% block body %}
<center>
    <h1>Hello {{ user }}, welcome to your dashboard</h1>
    <p>
        | <a href="/discover">Discover Stories</a>
        | <a href="new_story.html">Create New Story</a>
        |
    </p>
</center>
<br>

<center>
    <p>
        <b>Stories You've Contributed To:</b>
        {% for each in stories %}
            <o1>{{each}}</o1>
        {% endfor %}
        <br><br><br>
        ____________________________________________________________________________
    </p>
</center>
{% endblock %}
