{% extends 'basetemplate.html' %}
{% block title %}Welcome! - {% endblock %}
{% block body %}
<center>
    <h2>
        <pre>
██████╗  █████╗ ███████╗██╗  ██╗██████╗  ██████╗  █████╗ ██████╗ ██████╗
 ██╔══██╗██╔══██╗██╔════╝██║  ██║██╔══██╗██╔═══██╗██╔══██╗██╔══██╗██╔══██╗
 ██║  ██║███████║███████╗███████║██████╔╝██║   ██║███████║██████╔╝██║  ██║
 ██║  ██║██╔══██║╚════██║██╔══██║██╔══██╗██║   ██║██╔══██║██╔══██╗██║  ██║
 ██████╔╝██║  ██║███████║██║  ██║██████╔╝╚██████╔╝██║  ██║██║  ██║██████╔╝
╚═════╝ ╚═╝  ╚═╝╚══════╝╚═╝  ╚═╝╚═════╝  ╚═════╝ ╚═╝  ╚═╝╚═╝  ╚═╝╚═════╝
        </pre>
    </h2>
    <h1>Hello {{ user }}</h1>
    <p>
        | <a href="/discover">Discover Stories</a>
        | <a href="/contribute">Create New Story</a>
        |
    </p>
</center>
<br>

<center>
    <p>
        <b>Stories You've Contributed To:</b><br><br>
        {% for each in stories %}
            <a href = '/view?story={{each}}'>{{each}}</a>
            <br><br>
        {% endfor %}
        <br>
        ____________________________________________________________________________
    </p>
</center>
{% endblock %}
