{% extends 'basetemplate.html' %}
{% block title %}Viewing Story {{story}} - {% endblock %}
{% block body %}
<center>
    <h2>
        <pre>
██╗   ██╗██╗███████╗██╗    ██╗
██║   ██║██║██╔════╝██║    ██║
██║   ██║██║█████╗  ██║ █╗ ██║
╚██╗ ██╔╝██║██╔══╝  ██║███╗██║
 ╚████╔╝ ██║███████╗╚███╔███╔╝
 ╚═══╝  ╚═╝╚══════╝ ╚══╝╚══╝

        </pre>
    </h2>
    <h1>
        {{ story }}
    </h1>
    _______________________________________________________
</center>
<br>
<center>
  {% for each in content %}
  {{each}} - {{gsa(story, each)}}<br>
  {% endfor %}
  _______________________________________________________
  <br><br>
  <a href = '/profile'>Back to Profile</a>
  <br><br>
</center>

{% endblock %}
